{% extends 'orders/header.html' %}

{% block content %}
    <div class="container-fluid">
      <div class="row justify-content-center" style="margin-top:20px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28649.499666808922!2d75.43934810721038!3d15.11544675696916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb9109d674d38e3%3A0x683354f6190efee5!2sSmt%20Kamala%20And%20Sri%20Venkappa%20M.%20Agadi%20College%20of%20Engineering%20%26%20Technology!5e0!3m2!1sen!2sin!4v1684836349638!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        
      </div>
      <div class="row justify-content-center" style="margin-top:20px;">

        <ul>
          <li>Located on Winthrop street right near the corner of JFK Street next to Berk's shoes.</li>
          <li>We are 2 blocks from the Harvard Square T stop.</li>
          <li>Do not park across the street from us! It is a tow zone!</li>
        </ul>

      </div>

    </div>

{% endblock %}
